<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="home.html">
                <img src="../static/images/logo.png" th:attr="src=@{/images/logo.png}" alt="luv2shop"
                     class="img-responsive">
            </a>
        </div>
        <div class="menu-sidebar-content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar-list" th:each="tempCategory : ${categories}">
                    <li>
                        <a th:href="@{'/?category=' + ${tempCategory.categoryName}}"
                           th:text="${tempCategory.categoryName}"></a>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>
</div>