<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <footer>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </footer>
</div>