<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <header class="header-desktop">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
                <div class="header-wrap">
                    <form class="form-header" th:action="@{/product}" method="GET">
                        <input class="au-input au-input-xl" type="text" name="search"
                               placeholder="Search for data ..."/>
                        <button class="au-btn-submit" type="submit">
                            Search
                        </button>
                    </form>

                    <div class="cart-area d-n">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="au-btn-submit" value="Log out">
                        </form>
                    </div>


                    <div class="cart-area d-n">
                        <a href="shopping-detail.html">
                            <div class="total">19.22 <span> 2</span></div>
                            <i class="fa fa-shopping-cart"
                               aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="account-wrap"></div>
            </div>
        </div>
    </header>
</div>
