<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div style="align-content: center">

    <div id="loginbox"
         class="mainbox col-md-3 col-md-offset-3 col-md-12 col-sm-offset-2"
         style="padding-top: 50px;">

        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div>

            <div style="padding-top: 30px" class="panel-body">
                <div class="alert alert-danger col-xs-offset-1 col-xs-10" th:if="${errorMessage} != null" th:text="${errorMessage}">
                </div>
                <!-- Sign Up Form -->
                <form th:action="@{/sign-up}" th:object="${userForm}"
                      method="post" class="form-horizontal" style="padding: 10px;">


                    <!-- Email -->
                    <div th:class="form-group" style="margin-bottom: 30px;">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" th:field="*{email}" name="email" placeholder="email"
                                   class="form-control">
                        </div>
                        <span style="color: red;" class="error" th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}"></span>
                    </div>

                    <!-- User name -->
                    <div th:class="form-group" style="margin-bottom: 30px;">
                        <div class="input-group">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" th:field="*{username}" name="username" placeholder="username"
                                   class="form-control">
                        </div>
                        <span style="color: red;" class="error" th:if="${#fields.hasErrors('username')}"
                              th:errors="*{username}"></span>
                    </div>

                    <!-- Password -->
                    <div th:class="form-group" style="margin-bottom: 30px;">
                        <div class="input-group">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" th:field="*{password}" name="password" placeholder="password"
                                   class="form-control">
                        </div>
                        <span style="color: red;" class="error" th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}"></span>
                    </div>

                    <div th:class="form-group" style="margin-bottom: 30px;">
                        <div class="input-group">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" th:field="*{passwordConfirm}" name="passwordConfirm"
                                   placeholder="confirm your password"
                                   class="form-control">
                        </div>
                        <span style="color: red;" class="error" th:if="${#fields.hasErrors('passwordConfirm')}"
                              th:errors="*{passwordConfirm}"></span>
                    </div>

                    <!-- Sign Up/Submit Button -->
                    <div style="margin-top: 10px" class="form-group">
                        <div class="col-sm-6 controls">
                            <button type="submit" class="btn au-btn-submit">Sign Up</button>
                        </div>
                    </div>

                    <a th:href="@{/login}">Back to Login Page</a>

                    <!-- I'm manually adding tokens ... Bro! -->

                    <input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>

                </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>